<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<style>
		.flash {
			border: 1px solid black;
		}

		.flash.success {
			color: green;
		}

		.flash.error {
			color: red;
		}
	</style>

	{if $user->isLoggedIn()}
		Logged in as ...
		<a n:href="logout!">Logout</a>
	{else}
		Unlogged
		<a n:href="Admin:default">Login</a>
	{/if}

	<hr>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">
		{$flash->message}
	</div>

	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
