{block content}

<a n:if="$user->isAllowed('result', 'list')" n:href="Admin:list">Back to list</a><br><br>

Name: {$response->name}<br>
Sex:
{if $response->sex === 'm'}
	Male
{elseif $response->sex === 'f'}
	Female
{else}
	Undefined
{/if}<br>

{foreach $response->related('answer') as $answer}
	{$answer->question->title} - {$answer->question['answer' . $answer->answer]}
	{sep}/{/sep}
{/foreach}
